/* Style for the navigation bar */
nav {
    background-color: #202020;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: block;
    color: White;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 10px; /* Add this line */
}

nav a:hover {
    background-color: #4c4c4c;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: auto;
}
