/* basics */
h1{
	color:White;
	font-family: 'Courier New', Courier, monospace
 	}
 	h2{
		 color:White;
		 font-family: Arial;
		 font-family: 'Courier New', Courier, monospace
 	}
 	img{
		 width:500px;
		 height:300px;
		 border-radius: 10px;
 	}
 	body {
		 color: White;
		 background-image: url("https://cdn.osxdaily.com/wp-content/uploads/2023/06/macOS-Sonoma-default-wallpaper-Light.jpg");
		 background-size: cover;
		 background-position: center center;
		 text-align: center;
		 font-family: 'Courier New', Courier, monospace;
 	}
	/* Styling for the footer */

	footer {
		 padding: 20px;
		 text-align: center;
	 }

	 footer p {
		 margin: 0;
		 font-size: 14px;
	 }

	 /* Styling for the main content */

	 main {
		 padding: 20px;
	 }

	 main h2 {
		 font-size: 24px;
		 margin-top: 0;
	 }

	 main p {
		 font-size: 18px;
		 margin-top: 10px;
	 }

	 /* Style for the navigation bar */
	 nav {
		 background-color: #202020;
		 height: 80px;
		 display: flex;
		 align-items: center;
		 padding: 0 20px;
		 position: fixed;
		 z-index: 1;
	 }

	 nav ul {
		 list-style: none;
		 margin: 0;
		 padding: 0;
	 }

	 nav li {
		 margin-right: 20px;
	 }

	 nav a {
		 display: block;
		 color: #fff;
		 text-decoration: none;
		 padding: 10px;
		 transition: background-color 0.3s;
			 border-radius: 10px; /

	 }

	 nav a:hover {
		 background-color: #333;
		 
	 }

	 .logo {
		 font-size: 24px;
		 font-weight: bold;
		 color: #fff;
		 text-decoration: none;
		 margin-right: auto;
	 }
     
/* Style for the navigation bar */
nav {
    background-color: #202020;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 10px; /* Add this line */
}

nav a:hover {
    background-color: #cbcbcb;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: auto;
}
